body {
  cursor: text;
  font-size: 32px;
  margin: 0;
  padding: 1em;
}

mje-cursor {
  background-color: #000;
  position: absolute;
  width: 1px;
}

mje-cursor.hidden {
  display: none;
}

mjx-container {
  outline: none;
}

[type=eof] {
  opacity: 0;
}

[type=placeholder] {
  opacity: 0.25;
}

body.isInactive mje-cursor {
  display: none;
}
